{% if collection.handle == 'desk' %}
  <!-- This is the desk hard coded content! -->
{% endif %}

<div class="collection-group container margin">
  <div class="row">
    <div class="col-sm-8">
      <a href="{{ link.url }}">
        <h2 class="collection-group__title">
          {{ collection.title }}
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
    <div class="col-sm-4">
      <ul>
        <li>
          Ergonomics
        </li>
        <li>
          Ergonomics
        </li>
        <li>
          Ergonomics
        </li>
      </ul>
    </div>
  </div>
  <!-- /row -->


  <div class="row">
    {% for product in collection.products %}
      {% assign title_lower = collection.title | downcase %}
      <div class="
        {% if title_lower contains 'stands' %}
          col-xs-4
        {% else %}
          col-xs-4
        {% endif %}
      ">
        <a href="{{ product.url | within: collection }}">
          <img class="collection-group__image" src="{{ product.featured_image | img_url: '500x' }}" />
        </a>
      </div>
    {% endfor %}
  </div>
</div>