{% case collection.handle %}
{% when 'stands-dock' %}
<p class="collection-group__desc font-georgia">
  This is the short description for stands
</p>

{% when 'desk-accessories' %}
<p class="collection-group__desc font-georgia">
  This is the short description for accessories
</p>

{% when 'wood-speakers-amp'%}
<p class="collection-group__desc font-georgia">
  This is the short description for speakers
</p>

{% endcase %}
