{% comment %}
{% case collection.handle %}
{% when 'stands-dock' %}

<div class="detail-container font-din">
  <p class="font-din">Chances are you’re reading it from a desk. Or, on your phone, but you might be sitting at a desk.
    We spend a large portion of most of our days at a desk.
    This reality is what motivated the design of our desk collection,
    and our monitor and laptop stands specifically.</p>

  <div class="detail-columns">
    <div class="col-xs-4 detail-columns__image">
      <img src="{{ 'detail-image1.jpg' | asset_url }}" alt="">
    </div>
    <div class="col-xs-4 detail-columns__image">
      <img src="{{ 'detail-image2.jpg' | asset_url }}" alt="">
    </div>
  </div>
  <p class="col-xs-12 detail-columns__text">First, we firmly believe in crafting a space for your work. If you’re working at your desk all day,
    it should give rather than take. People choose to surround themselves with beautiful and meaningful
    objects. This is why we always focus on the sculptural aspect of our products -
    it makes them interesting and beautiful to look at, which adds to their functionality.</p>
    <div class="col-xs-4 detail-columns__gif">
      <img src="{{ 'detail-image3.gif' | asset_url }}" alt="">
    </div>
  <p class="col-xs-8 detail-columns__text">Secondly, we believe in good ergonomics.
    We visited a friend and co-founder of AirBnb at their SF headquarters and noticed a rather
    unimpressive array of items propping up monitors. A light bulb went off.
    Desktop ergonomics have been buzz-worthy for a while now, so this wasn’t an insight exactly.
    But, at Grovemade, we thought we could bring our design focus and manufacturing prowess to
    bear on the problem and create a valuable solution. Thus was born our monitor stand.</p> -->

  <!-- <div class="detail-full-width">
    <h2 class="col-xs-12">Elevate Your Screen</h2>
    <div class="gif"></div>
    <p class="col-xs-12">
      Using the monitor stand reduces strain on your neck and eyes that can result from having to bend
      and look down as you work. We created the monitor stand to bring a touch more class and style to
      your desk, while also solving the underlying ergonomics issue. The space it opens up underneath the
      monitor can free up desk real estate and help de-clutter your workspace.
    </p>
  </div> -->

</div>

{% endcase %}
{% endcomment %}
