<nav class="header">
  <div class="left">
    <a href="/" class="dc-logo">
      <img src="{{ 'dclogo.svg' | asset_url }}" alt="">
      <!-- {{ 'dclogo.svg' | asset_url | img_tag }} -->
    </a>
    <!-- <div class="menu"> -->
      <a href="/">
        VIEW COLLECTION
      </a>
      <a href="/">
        DESIGNING DESK COLLECTION
      </a>
      <a href="/">
        CUSTOMER COLLECTIONS
      </a>
    <!-- </div> -->
  </div>
  <a href="/" class="cart">
    <img src="{{ 'cart.svg' | asset_url }}" alt="">
    <!-- {{ 'cart.svg' | asset_url | img_tag }} -->
    <h1>0</h1>
  </a>
</nav>
