<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}


{% if collection.handle == 'all' %}
  <div class="banner">

  </div>
  {% for link in linklists.collections.links %}
    {% assign collection = link.object %}
    {% include 'collection-single' %}
  {% endfor %}
{% else %}
  {% include 'collection-single' %}
{% endif %}