<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}


{% if collection.handle == 'all' %}
  <div class="banner">

  </div>
  {% for link in linklists.collections.links %}
    {% assign collection = link.object %}
    {% include 'collection-single' %}
  {% endfor %}
{% else %}
  <center>
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12">
  				<h1>
  					{{ collection.title }}
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
  			</div>
  		</div>
  	</div>
  </center>
  {% include 'collection-single' %}
{% endif %}