
<div class="container-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="slide1">Slide 1</div>
      <div class="swiper-slide" id="slide2">Slide 2</div>
      <div class="swiper-slide" id="slide3">Slide 3</div>
      <div class="swiper-slide" id="slide4">Slide 4</div>
      <div class="swiper-slide" id="slide5">Slide 5</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <h1 class="text-on-slide">Desk Collection</h1>
</div>

<div class="main-products">
  <h1>Monitor Stands</h1>
  <h3>Elevate your screen</h3>
  <img src="{{ 'main-stand-walnut.png' | asset_url }}" class="main-products-img" alt="">
</div>
<div class="main-products">
  <h1>Desk Accessories</h1>
  <h3>Improve your desk landscape</h3>
  <img src="{{ 'main-da-walnut.png' | asset_url }}" class="main-products-img" alt="">
  </div>
<div class="main-products">
  <h1>Wood Speakers & Amp</h1>
  <h3>Acoustically driven design</h3>
  <img src="{{ 'main-speakers-walnut.png' | asset_url }}" class="main-products-img" alt="">
</div>
